ul {
  padding:0;
}
.btn-danger {
  color: #fff;
  background-color: #D87875;
  border-color: #d43f3a;
}
.checklist ul li.btn {
  display: block;
  width:auto;
  margin-bottom: 2px;
  text-align: left;
}
.status{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 0;
}
.status.success{
  color: #468847;
  background-color: #dff0d8!important;
  font-weight:bold;
}